{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="navbar navbar-default navbar-fixed-left">
  
  <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <a class="navbar-brand" href="{% url 'tiffmaps:overlay-list' %}"><strong>Simple TMS Server</strong></a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="settings-icon-container">
          <a href="{% url 'tiffmaps:map-settings-view' %}" class="settings-icon"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
      </div>
  </div>
  
  {% if overlays %}
    <div class="order_by menu">
      <form class="form-inline" action="{% url 'tiffmaps:overlay-list' %}?ordering={{ ordering }} method="get" accept-charset="utf-8">       
        <div class="form-group">
          <label>Order by</label>
          <select class="form-control order-select" onchange="if (this.value) window.location.href=this.value">
            <option value="{% url 'tiffmaps:overlay-list' %}?ordering=mapname" {% if ordering == 'mapname' %}selected{% endif %}>mapname: Ascending</option>
            <option value="{% url 'tiffmaps:overlay-list' %}?ordering=-mapname" {% if ordering == '-mapname' %}selected{% endif %}>mapname: Descending</option>
            <option value="{% url 'tiffmaps:overlay-list' %}?ordering=created" {% if ordering == 'created' %}selected{% endif %}>Created: Ascending</option>
            <option value="{% url 'tiffmaps:overlay-list' %}?ordering=-created" {% if ordering == '-created' %}selected{% endif %}>Created: Descending</option>
            <option value="{% url 'tiffmaps:overlay-list' %}?ordering=publish" {% if ordering == 'publish' %}selected{% endif %}>Publish: Ascending</option>
            <option value="{% url 'tiffmaps:overlay-list' %}?ordering=-publish" {% if ordering == '-publish' %}selected{% endif %}>Publish: Descending</option>
          </select>
        </div>
      </form>
    </div>
    <div id="menu-scrollable-outside">
      <div id="menu-scrollable-inside">
        {% for overlay in overlays %}
          <div class="row overlays-menu" onMouseOver="OverlayInfo.show('{{ overlay.mapname }}-detail')" onMouseOut="OverlayInfo.hide('{{ overlay.mapname }}-detail')">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <div class="checkbox">
                  <label class="menu">
                      <input type="checkbox" id="{{ overlay.mapname }}" onclick="toggleOverlay('{{ overlay.mapname }}');">&nbsp;&nbsp;{{ overlay.mapname }}{{ overlay.extension }}
                  </label>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <i class="glyphicon glyphicon-map-marker marker" alt="Settings" onclick="goToLocation({{ overlay.centery }}, {{ overlay.centerx }});"></i>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="menu">
      No overlays available.<br />
      Save a few and come back.
    </div>
  {% endif %}
      
</div>

<div class="container-fluid">
  
  {% for overlay in overlays %}
    <div id="{{ overlay.mapname }}-detail" class="overlay-detail" style="visibility: hidden;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2><strong>{{ overlay.mapname }}{{ overlay.extension }}</strong></h2>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <strong>minX:</strong> {{ overlay.minx }}<br />
          <strong>minY:</strong> {{ overlay.miny }}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <strong>maxX:</strong> {{ overlay.maxx }}<br />
          <strong>maxY:</strong> {{ overlay.maxy }}
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <strong>centerX:</strong> {{ overlay.centerx }}<br />
          <strong>centerY:</strong> {{ overlay.centery }}
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <strong>Created:</strong> {% if overlay.created %}{{ overlay.created|date:"Y-m-d, g:i a" }}{% else %}Unknow{% endif %}<br />
          <strong>Publish:</strong> {{ overlay.publish|date:"Y-m-d, g:i a" }}<br />
          {% if overlay.updated %}
            <strong>Updated:</strong> {{ overlay.updated|date:"Y-m-d, g:i a" }}<br />
          {% else %}
            <br />
          {% endif %}
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <strong>Preview:</strong><br />
          <img src="{% static 'img/maps/' %}/{{ overlay.mapname }}/{{ overlay.mapname }}.jpg" alt="No image found">
        </div>
      </div>
    </div> 
  {% endfor %}
  
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="map"></div>
      </div>
  </div>

</div>

<script type="text/javascript">

  var map;
  var markers = [];
  var Settings = {};

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      mapTypeId: 'satellite',
      tilt: 0,
      zoom: Settings.default_zoom,
      minZoom: 0,
      maxZoom: 30,
      center: {lat: Settings.default_centery , lng: Settings.default_centerx},
    });

    for (var i = 0; i < Settings.overlay.length; i++) {
      addMarker(
        Settings.img_url,
        Settings.overlay[i]
      )
    }
    if (map.getZoom() > 9) {
      clearMarkers();
    }

    map.addListener('zoom_changed', function() {
      if (map.getZoom() > 9) {
        if (markers[0].map) {
          clearMarkers();
        }
      } else {
        if (!markers[0].map) {
          setMapOnAll(map);
        }
      }    
    });
  }

  function addMarker(img_url, Overlay) {
    var image = new google.maps.MarkerImage(img_url + '/pointner.png', null, null, null, new google.maps.Size(60,60));
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(Overlay.centery, Overlay.centerx),
      map: map,
      icon: image,
      title: Overlay.mapname + Overlay.extension
    });
    markers.push(marker);

    var infocontent = '<table class="overlay-table">' +
                      '<tr><td><h3>' + Overlay.mapname + Overlay.extension + '</h3></td></tr>' +
                      '<tr><td><strong>minX:</strong> </td><td>' + Overlay.minx + '</td><td><strong>&nbsp;&nbsp; maxX:</strong> ' + Overlay.maxx + '</td></tr>' +
                      '<tr class="overlay-cell"><td><strong>miny:</strong> </td><td>' + Overlay.miny + '</td><td><strong>&nbsp;&nbsp; maxY:</strong> ' + Overlay.maxy + '</td></tr>' +
                      '<tr><td><strong>centerX:</strong> </td><td>' + Overlay.centerx + '</td></tr>' +
                      '<tr class="overlay-cell"><td><strong>centerY:</strong> </td><td>' + Overlay.centery + '</td></tr>' +
                      '<tr><td><strong>Created:</strong> </td><td>' + Overlay.created + '</td></tr>' +
                      '<tr><td><strong>Publish:</strong> </td><td>' + Overlay.publish + '</td></tr>' +
                      '</table>';
    var infowindow = new google.maps.InfoWindow({
      content: infocontent,
    });
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
    });
  }

  function setMapOnAll(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  function clearMarkers() {
    setMapOnAll(null);
  }

  function showMarkers() {
    setMapOnAll(map);
  }

  function deleteMarkers() {
    clearMarkers();
    markers = [];
  }

  function goToLocation(lat, lng) {
    map.setCenter(new google.maps.LatLng(lat, lng));
  }

  function showOverlay(overlayName) {
    var imageMapType = new google.maps.ImageMapType({
      name: overlayName,
      tileSize: new google.maps.Size(256, 256),
      getTileUrl: function(coord, zoom) {
        var url = Settings.maps_url + overlayName + '/' + zoom + '/' + coord.x + '/' + coord.y + '.png';
        return url;
      }
    });
    map.overlayMapTypes.push(imageMapType);
  }

  function hideOverlay(overlayName) {    
    map.overlayMapTypes.forEach(function(element, index) {
      if (element.name == overlayName) {
        map.overlayMapTypes.removeAt(index);
      } 
    });
  }

  function toggleOverlay(overlayName) {
    var element = document.getElementById(overlayName);
    if (!element.checked) {
      hideOverlay(overlayName);
    } else {
      showOverlay(overlayName);
    }
  }

  var OverlayInfo = {
    show: function(id) {
      document.getElementById(id).style.visibility = "visible";
    },
    hide: function(id) {
      document.getElementById(id).style.visibility = "hidden";
    }
  };

  function loadMap() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        try {
          var data = JSON.parse(xmlhttp.responseText);
          Settings.img_url = data.img_url;
          Settings.maps_url = data.maps_url;
          Settings.GOOGLE_MAPS_KEY = data.GOOGLE_MAPS_KEY;
          Settings.default_centerx = data.default_centerx;
          Settings.default_centery = data.default_centery;
          Settings.default_zoom = data.default_zoom;
          Settings.overlay = data.overlay;

          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3' + '&key=' + Settings.GOOGLE_MAPS_KEY + '&callback=initMap';
          document.body.appendChild(script);
        } catch(err) {
          console.log(err.message + " in " + xmlhttp.responseText);
          return;
        }
      }
    };
 
    xmlhttp.open("GET", "/metadata/", true);
    xmlhttp.send();
  };
  
  window.onload = loadMap;

</script>

{% endblock content %}